link-workspace-packages=true
shared-workspace-lockfile=true
save-workspace-protocol=true
fetch-timeout=300000
git-checks=false
resolution-mode=highest
auto-install-peers=true
# registry=https://registry.npmjs.org/ 
# ? http://r.cnpmjs.org/
registry=http://registry.npm.taobao.org/